.container {
    text-align: center;
  }
  
  .form {
    text-align: center;
    margin: 8em;
    color: white;
  }
  input  {
    border-radius: 7px;
    height: 2em;
    margin: 5px;
  }
  .signInButton{ 
    border-radius: 3px;
    background: rgb(53, 144, 230);
    border: 0px;
    margin: 5px;
  }
  .signUpButton{ 
    background: rgb(3, 180, 18);
    border-radius: 3px;
    border: 0px;
    margin: 5px;
  }
  .forgot{ 
    color: white;
    
  }